DISCORD_TOKEN=YOUR_DISCORD_TOKEN
CLIENT_ID=YOUR_CLIENT_ID
GUILD_ID=1479051507683823729

TRELLO_KEY=YOUR_TRELLO_KEY
TRELLO_TOKEN=YOUR_TRELLO_TOKEN
TRELLO_BOARD_SHORTLINK=VmxUfjSm
TRELLO_TARGET_LIST_NAME=Suggestions

LOG_CHANNEL_ID=1488456195483107358
WELCOME_CHANNEL_ID=1479219053867438171
VERIFIED_ROLE_ID=1479390268921741343
